.button.button--danger.button--border {
  border: 1px solid #c72100;
  padding: 0.2rem 0.5rem;
}
.button.button--danger.button--border:hover,
.button.button--danger.button--border:focus {
  padding: 0.2rem 0.5rem;
  background-color: #c72100;
  border: 1px solid #c72100;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 911px) {
  .pattern-wrapper > .fieldset-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .pattern-wrapper > .fieldset-wrapper > * {
    padding-right: 1rem;
  }
  .pattern-wrapper > .fieldset-wrapper .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
