.button.button--danger {
  &.button--border {
    border: 1px solid #c72100;
    padding: 0.2rem 0.5rem;

    &:hover, &:focus {
      padding: 0.2rem 0.5rem;
      background-color: #c72100;
      border: 1px solid #c72100;
      color: #fff;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 911px) {
  .pattern-wrapper {
    > .fieldset-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: flex-start;

      > * {
        padding-right: 1rem;
      }

      .button {
        align-self: center;
      }
    }
  }
}